<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ball is Life</title>
</head>
<body>
    <h1>Ball is Life</h1>
    <form action="/scrape">
        <input type="submit" value="Update" />
    </form>
    <div class="newsfeed">
        {% for i in newsfeed %}
        <div>
            <a href="{{i.url}}">
                <h5>{{i.headline}}</h5>
                <img src="{{i.url_image}}" alt="">
            </a>
            <h5>Published On: {{i.published_date}}</h5>
            <h5>Source: {{i.source.name}}</h5>
            {% if not i.reporter.first_name%}
                <h5>Author: Unknown</h5>
            {% else %}
                <h5>Author: {{i.reporter.first_name}} {{i.reporter.last_name}}</h5>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</body>
</html>